/.idea
/web_programming_documentation/.idea/
/web_programming_documentation/auxil/
/web_programming_documentation/out/
/web_programming_documentation/web_programming_documentation.iml
/web_programming_documentation/src/main.toc
/web_programming_documentation/src/main.bbl
/web_programming_documentation/src/main.blg
/web_programming_documentation/src/history.png
/web_programming_documentation/src/clip.png
/web_programming_documentation/src/print_email.png
/web_programming_documentation/src/main.tex
/web_programming_documentation/src/tel_history.jpg
/web_programming_documentation/src/tel_clip.jpg
/web_programming_documentation/src/search.png
/web_programming_documentation/src/main.synctex.gz
/web_programming_documentation/src/main.log
/web_programming_documentation/src/form.png
/web_programming_documentation/src/main.aux
