html {
    background: gray;
}

.navbar-inverse {
    border-radius: 10px;
    background: black;
}

.panel-footer{
    border-radius: 10px;
    background: #222222;
    color: white;
    text-align: center;
}

body {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

